# Secrets and user configuration
.env

# Local project files
__pycache__
venv
*.db

# Third-party libraries
data/country-list
flamegraph
boost

# MySQL source code (kept in separate repository)
mysql-server

# MySQL data folder (generated locally)
mysql-data

# MySQL builds (compiled locally)
debug-build
release-build

# Generated plots
plots
